.pool-table {
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  overflow: hidden;
  background: #3a3b3f;
  color: white;

  &-header {
    background: #212122;
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding: 14px;
  }
}

.dots {
  flex-grow: 1;
  border-bottom: 1px dotted white;
  margin: 3px 4px;
  height: 0; /* Ensures the line stays at the same level */
}
